<form [formGroup]="form">
    <div class="form-group">

        <label For="oldPassword">Old Password</label>
        <input id="oldPassword" type="text" class="" [formControlName]="oldPassword">
        <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
            <div *ngIf="oldPassword.errors.required">Old Paswprd is required</div>
            <div *ngIf="oldPassword.errors.minLength">Old Paswprd should be minimum of
                {{oldPassword.errors.minLength.requiredLength}}</div>
            <div *ngIf="oldPassword.errors.OldPasswordMatchValidation">Old password is already taken </div>

        </div>

    </div>

    <div class="form-group">
        <label For="newPassword">New Password</label>
        <input id="newPassword" type="text" class="" [formControlName]="newPassword">
        <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">
            <div *ngIf="newPassword.errors.required">newPassword is required</div>
            <div *ngIf="newPassword.errors.minLength">newPassword should be minimum of
                {{newPassword.errors.minLength.requiredLength}}</div>

        </div>

    </div>

    <div class="form-group">
        <label For="confirmPassword">Confirm Password</label>
        <input id="confirmPassword" type="text" class="" [formControlName]="confirmPassword">
        <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger">
            <div *ngIf="confirmPassword.errors.required">Old Paswprd is required</div>
            <div *ngIf="confirmPassword.errors.minLength">Old Paswprd should be minimum of
                {{confirmPassword.errors.minLength.requiredLength}}</div>

        </div>

    </div>


</form>